<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/logo.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Muya Example</title>
  <script type="module" src="./assets/index-IuSL2sv8.js"></script>
  <link rel="stylesheet" href="./assets/index-a7H3TyBd.css">
  <link rel="stylesheet" href="dark.css" media="(prefers-color-scheme: dark)">
  <style>
      .mu-front-menu li .icon-wrapper i.icon>i[class^=icon-] {
            left: 0px !important;
          }
          .mu-image-toolbar li.item .icon-wrapper i.icon>i[class^=icon-] {
            left: 0px !important;
          }

    </style>
</head>
<body>
  <div class="editor-container">
    <div id="editor"></div>
  </div>
  <script>
      
      let muya;
      
      function renderMarkdown(data) {
        const markdownContent = data.content;
        muya.setContent(markdownContent)
        console.log('renderMarkdown call back')
      }
      
      // 定义用于回调的函数，将内容传递到 iOS
      function sendContentToNative(content) {
        if (window.webkit && window.webkit.messageHandlers && window.webkit.messageHandlers.nativeBridge) {
          window.webkit.messageHandlers.nativeBridge.postMessage(content);
        } else {
          console.warn("iOS 回调接口不可用");
        }
      }
      
    window.onload = function() {
      const editorContainer = document.getElementById('editor');
      // 设置缩放比例，比如 0.8 表示缩小为原来的 80%
      const scale = 0.9;
      editorContainer.style.transform = `scale(${scale})`;
      editorContainer.style.transformOrigin = 'top left';
      // 注册编辑器功能
      Muya.use(MuyaCore.EmojiSelector);
      Muya.use(MuyaCore.InlineFormatToolbar);
      Muya.use(MuyaCore.ImageEditTool, {
          imagePathPicker,
          imageAction,
      });
      Muya.use(MuyaCore.ImageToolBar)
      Muya.use(MuyaCore.ImageResizeBar)
      Muya.use(MuyaCore.CodeBlockLanguageSelector)
      Muya.use(MuyaCore.ParagraphFrontButton)
      Muya.use(MuyaCore.ParagraphFrontMenu)
      Muya.use(MuyaCore.TableColumnToolbar)
      Muya.use(MuyaCore.ParagraphQuickInsertMenu)
      Muya.use(MuyaCore.TableDragBar)
      Muya.use(MuyaCore.TableRowColumMenu)
      Muya.use(MuyaCore.PreviewToolBar)
      // 挂载示例
      muya = new Muya(editorContainer, {
          markdown: '', // 默认渲染内容
      })
      // 设置语言
      // muya.locale(MuyaCore.en)
      muya.init()
      muya.on('json-change', (_changes) => {
          // 输入变化
          // console.log(JSON.stringify(muya.getState(), null, 2))
          // console.log(muya.getMarkdown())
          const content = muya.getMarkdown();
          sendContentToNative(content);
          // console.log(JSON.stringify(_changes, null, 2));
      })
      
      async function imagePathPicker() {
          return 'https://pics.ettoday.net/images/2253/d2253152.jpg';
      }
      async function imageAction() {
          return new Promise((resolve) => {
              setTimeout(() => {
                  resolve(
                      'https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg',
                  );
              }, 3000);
          });
      }
    }
  </script>
</body>
</html>
